<!--The content below is only a placeholder and can be replaced.-->
<div class="info">
    <p>There are two categories of pipes</p>
    <p><strong>Stateless pipes </strong>are pure functions that flow input data through without remembering anything or causing detectable side-effects. Most pipes are stateless. The CurrencyPipe we used and the length pipe we created are examples of a stateless pipe.
    </p>
    <p><strong>Stateful pipes </strong>are those which can manage the state of the data they transform. A pipe that creates an HTTP request, stores the response and displays the output, is a stateful pipe. Stateful Pipes should be used <font color='red'>cautiously</font>.
     </p><p> Angular provides <font color='red'> AsyncPipe</font>, which is stateful.</p>

  </div>
<ul>
    <li>
        <a routerLink="/home" routerLinkActive="active" >簡單使用 Pipes</a>
      </li>
      <li>
          <a routerLink="/custom" routerLinkActive="active" >Custom Pipes</a>
        </li>
        <li>
            <a routerLink="/stateful" routerLinkActive="active" >Stateful Pipes</a>
          </li>
    <li>
      <a routerLink="/async" routerLinkActive="active" >Async Pipes</a>
    </li>
     
    </ul>
    <router-outlet></router-outlet>






    


